<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	<title>
		ExtJS 實戰！
		Users	</title>
	<link rel="stylesheet" type="text/css" href="/static/extjs5/ch19_upgrade_ext4/webroot/resources/css/ext-all.css" /> 
	<script type="text/javascript" src="/static/extjs5/ch19_upgrade_ext4/webroot/js/ext-all.js"></script> 
	<script type="text/javascript" src="/static/extjs5/ch19_upgrade_ext4/webroot/js/configs.js"></script> 
	<script type="text/javascript" src="/static/extjs5/ch19_upgrade_ext4/webroot/js/components/LoginForm.js"></script>
	<script type="text/javascript" src="/static/extjs5/ch19_upgrade_ext4/webroot/js/components/ImgLabel.js"></script>
	<script type="text/javascript" src="/static/extjs5/ch19_upgrade_ext4/webroot/js/components/UserForm.js"></script>
	<script type="text/javascript" src="/static/extjs5/ch19_upgrade_ext4/webroot/js/components/RecordGridPanel.js"></script>
	<link href="/static/extjs5/ch19_upgrade_ext4/favicon.ico" type="image/x-icon" rel="icon" /><link href="/static/extjs5/ch19_upgrade_ext4/favicon.ico" type="image/x-icon" rel="shortcut icon" /></head>
<body>
	<div id="csrf">{% csrf_token %}</div>
	<div id="container">
	<div id="content">
		
	<link rel="stylesheet" type="text/css" href="/static/extjs5/ch19_upgrade_ext4/webroot/css/Users/index.css" />
<script type="text/javascript" src="/static/extjs5/ch19_upgrade_ext4/webroot/js/Users/index.js"></script>
<div id="loginFormDiv"></div>
<img src="/static/extjs5/ch19_upgrade_ext4/img/icons/login.png" id="loginLogo" style="display:none;" alt="" /><img src="/static/extjs5/ch19_upgrade_ext4/img/icons/signup.png" id="signupLogo" style="display:none;" alt="" />
<a href="/rest/login" id="loginUrl"></a><a href="/rest/application" id="signupUrl"></a><a href="/rest/functions" id="functionPageUrl"></a>
		</div>
		<div id="footer">
		</div>
	</div>
	</body>
</html>